@font-face{
    font-family: "TiemposHeadline-Bold";
    src: url("https://db.onlinewebfonts.com/t/171d30888ae4dbce3d0224490887fb87.eot");
    src: url("https://db.onlinewebfonts.com/t/171d30888ae4dbce3d0224490887fb87.eot?#iefix")format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/171d30888ae4dbce3d0224490887fb87.woff")format("woff"),
        url("https://db.onlinewebfonts.com/t/171d30888ae4dbce3d0224490887fb87.woff2")format("woff2"),
        url("https://db.onlinewebfonts.com/t/171d30888ae4dbce3d0224490887fb87.ttf")format("truetype"),
        url("https://db.onlinewebfonts.com/t/171d30888ae4dbce3d0224490887fb87.svg#TiemposHeadline-Bold")format("svg");
    font-weight:normal;
    font-style:normal;
    font-display:swap;
}

@font-face {
    font-family: 'Copyright Klim Type Foundry';
    src: url('fonts/TiemposHeadline-Regular.woff2') format('woff2'),
        url('fonts/TiemposHeadline-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Copyright Klim Type Foundry';
    src: url('fonts/TiemposText-Bold.woff2') format('woff2'),
        url('fonts/TiemposText-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Graphik';
    src: url('fonts/Graphik-Regular.woff2') format('woff2'),
        url('fonts/Graphik-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('fonts/Graphik-Medium.woff2') format('woff2'),
        url('fonts/Graphik-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('fonts/Graphik-Semibold.woff2') format('woff2'),
        url('fonts/Graphik-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('fonts/Graphik-Bold.woff2') format('woff2'),
        url('fonts/Graphik-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* HOME */
* {
    box-sizing: border-box;
    font-family: 'Graphik' !important;
}

p, strong {
    color: white !important;
}

::selection {
    background-color: #40BCF4;
    color: white;
}

body {
    background: #14181c url('content-bg.webp') 0 -1px repeat-x;
    padding-top: 20px;
    width: 100dvw;
    overflow-x: hidden;
}

/* OPTIONS */

.options {
    margin-bottom: 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.cinema-navigation {
    margin-top: -1px !important;
}

/* FRISE */
.frise {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    padding: 15px 15px;
    background-color: #456;
}

.date-item {
    padding: 10px;
    border-radius: 5px;
    color: white;
}

.date-item.active {
    background-color: #0077B6;
    color: white;
    font-weight: bold;
}

.date-item:not(.active) {
    opacity: 0.7;
}

.date-item:hover {
    text-decoration: none !important;
    background-color: #CAF0F8;
    color: #0077B6;
    transition: 0.2s all ease-in-out;
}

.weekday {
    font-size: 0.875rem;
    text-transform: lowercase;
    font-family: "Copyright Klim Type Foundry", "TiemposHeadline-Bold", serif !important;
}

.day-number {
    font-size: 1.25rem;
    font-weight: bold;
    font-family: "Copyright Klim Type Foundry", "TiemposHeadline-Bold", serif !important;
    line-height: 1;
}

.frise::-webkit-scrollbar {
    display: none;
}

.mobile-date {
    display: none;
    flex-direction: column;
    align-items: center;
}

.weekday {
    font-size: 0.875rem;
    text-transform: lowercase;
}

.day-number {
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1;
}

.desktop-date {
    display: block;
}

@media (max-width: 768px) {
    .frise {
        gap: 0.5rem;
        padding: 0.75rem;
    }

    .date-item {
        min-width: 3rem;
        padding: 0.4rem;
    }

    .mobile-date {
        display: flex;
    }

    .desktop-date {
        display: none;
    }
}

/* SELECTION CINEMA */
    .desktop-nav {
        display: flex;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
    }

    .desktop-nav::-webkit-scrollbar {
        display: none;
    }

    .mobile-nav {
        display: none;
        padding: 0.5rem;
    }

    .mobile-nav .form-select {
        margin: auto;
        display: flex;
        border: none !important;
    }

    .mobile-nav .form-select:focus {
        border-color: var(--bs-primary);
        box-shadow: 0 0 0 0.25rem rgba(var(--bs-primary-rgb), 0.25);
    }

    .mobile-nav .form-select option {
        background-color: #2c3641;
        color: white;
    }

    @media (max-width: 768px) {
        .desktop-nav {
            display: none;
        }

        .mobile-nav {
            display: block;
        }
    }

/* MOVIE CARD */
.card {
    border: 1px solid #2c3641 !important;
}

.card-body {
    background-color: #456 !important;
    padding: 0.5em;
}

.film-info {
    font-size: 0.8em;
}

.film-info p {
    margin-bottom: 5px !important;
}

.film-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 7px 2px;
    margin: 0 2%;
    justify-content: space-between;
}

.film-card {
    width: 49%;
}

.film-showtimes ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h5 {
    font-family: "Copyright Klim Type Foundry", "TiemposHeadline-Bold", serif !important;
    font-weight: bold;
    color: white;
}

div.film-title h5 {
    font-size: 1em;
}

div.film-title p {
    margin-top: 3px;
    margin-bottom: 0;
}

.poster-container {
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.poster-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav-tabs {
    border-bottom: 1px solid #2c3641 !important;
}

.nav-tabs .nav-link {
    font-size: 0.8em;
    padding: 0.2em 1em;
}

.nav-tabs .nav-link.active {
    color: white !important;
    font-weight: bold !important;
    background-color: #0077B6 !important;
    border: none !important;
    transition: all 0.2s ease-in-out;
}

.nav-tabs .nav-link:not(.nav-link.active) {
    color: #0077B6 !important;
    background-color: #CAF0F8 !important;
    border: none !important;
}

.time-slot {
    font-size: 0.8em;
    background-color: #14181c;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.time-slot {
    transition: opacity 0.3s ease;
}

.time-slot.past {
    opacity: 0.4;
}

